<div class="form-group">
    <label for="title" name="title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="subject" name="subject">subject</label>
    <input type="text" name="subject" id="subject" class="form-control">
</div>
<div class="form-group">
    <label for="content">Post</label>
    <textarea required name="content" id="content" class="form-control"></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>

<button type="submit" class="btn btn-primary">Save</button>