<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <header class="d-flex flex-column">
            <div class="jumbotron d-flex flex-column justify-content-center">
                <h1 class="display-6">BlogNog</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                    featured content or information.</p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/articles" role="button">Learn more</a>
                </p>
            </div>
        </header>
    </div>
    <main>
        {{{ body }}}
    </main>
<script src="/js/testScript.js"></script>
</body>
</html>