<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <header>
            <div class="jumbotron bg-warning">
                <h1 class="display-2">BlogNog</h1>
                <p class="lead">A blog so sweet it goes down easy</p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/articles/new" role="button">New post</a>
                </p>
            </div>
        </header>
    </div>
    <main>
        <div class="container">
            {{{ body }}}
        </div>
    </main>
<script src="/js/testScript.js"></script>
</body>
</html>