<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{subject}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{date}}</h6>
    <p class="card-text">{{content}}</p>
    <a href="#" class="card-link">next post</a>
    <a href="#" class="card-link">last post</a>
  </div>
</div>